In [32]:
import pandas as pd
import numpy as np

In [33]:
hr_train = pd.read_csv("C:/Users/h8man/Downloads/R_Projects/housing_train.csv")

In [34]:
hr_test = pd.read_csv("C:/Users/h8man/Downloads/R_Projects\housing_test.csv")

In [35]:
hr_train['data'] = 'train'
hr_test['data'] = 'test'

In [36]:
hr_all = pd.concat([hr_train,hr_test],axis = 0)

In [37]:
hr_all

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,data
0,Brunswick,52 Evans St,3,h,1650000.0,S,Nelson,5.2,3056,3.0,1.0,2.0,495.0,141.0,1920.0,Moreland,train
1,Reservoir,85 Radford Rd,5,h,791000.0,S,Ray,11.2,3073,4.0,3.0,1.0,961.0,NaN,NaN,Darebin,train
2,Newport,99 Anderson St,3,h,785000.0,S,RT,8.4,3015,3.0,1.0,1.0,185.0,NaN,NaN,Hobsons Bay,train
3,Brighton East,4/377 South Rd,2,u,755000.0,SP,Buxton,10.7,3187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train
4,Hawthorn East,3 Jaques St,5,h,2500000.0,VB,RT,7.5,3123,5.0,3.0,3.0,757.0,240.0,1925.0,Boroondara,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880,Keilor Park,1 Latrose St,3,h,NaN,PI,Nelson,14.5,3042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,test
1881,Keilor Park,35 Spence St,3,h,NaN,S,Nelson,14.5,3042,3.0,2.0,2.0,554.0,129.0,1980.0,Brimbank,test
1882,Gardenvale,66A Gardenvale Rd,3,h,NaN,PI,Nick,9.8,3185,3.0,2.0,2.0,236.0,193.0,2004.0,Glen Eira,test
1883,Gardenvale,2/32 Gardenia Rd,2,u,NaN,SP,Biggin,9.8,3185,2.0,1.0,1.0,0.0,65.0,1970.0,Glen Eira,test
1884,Princes Hill,76 Arnold St,3,h,NaN,VB,Collins,3.7,3054,3.0,1.0,2.0,341.0,NaN,NaN,Yarra,test

In [38]:
hr_all.isnull().sum()

Suburb             0
Address            0
Rooms              0
Type               0
Price           1885
Method             0
SellerG            0
Distance           0
Postcode           0
Bedroom2        1978
Bathroom        1978
Car             1978
Landsize        1985
BuildingArea    5269
YearBuilt       4660
CouncilArea     1985
data               0
dtype: int64

In [39]:
hr_train.shape

(7536, 17)

In [40]:
hr_test.shape

(1885, 16)

In [41]:
hr_all.shape

(9421, 17)

In [42]:
hr_train.select_dtypes(object)

,Suburb,Address,Type,Method,SellerG,CouncilArea,data
0,Brunswick,52 Evans St,h,S,Nelson,Moreland,train
1,Reservoir,85 Radford Rd,h,S,Ray,Darebin,train
2,Newport,99 Anderson St,h,S,RT,Hobsons Bay,train
3,Brighton East,4/377 South Rd,u,SP,Buxton,NaN,train
4,Hawthorn East,3 Jaques St,h,VB,RT,Boroondara,train
...,...,...,...,...,...,...,...
7531,Footscray,202/51 Gordon St,u,PI,Burnham,Maribyrnong,train
7532,Oak Park,63 Vincent St,h,SP,Nelson,Moreland,train
7533,Camberwell,5 Gowar Av,h,PI,Jellis,NaN,train
7534,Richmond,29a Abinger St,h,S,hockingstuart,Yarra,train
7535,Brunswick West,12/82 Hopetoun Av,u,VB,Nelson,NaN,train

In [43]:
del hr_train['Address']

In [44]:
hr_train.select_dtypes(exclude = 'object')

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt
0,3,1650000,5.2,3056,3.0,1.0,2.0,495.0,141.0,1920.0
1,5,791000,11.2,3073,4.0,3.0,1.0,961.0,NaN,NaN
2,3,785000,8.4,3015,3.0,1.0,1.0,185.0,NaN,NaN
3,2,755000,10.7,3187,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2500000,7.5,3123,5.0,3.0,3.0,757.0,240.0,1925.0
...,...,...,...,...,...,...,...,...,...,...
7531,1,85000,6.4,3011,1.0,1.0,0.0,0.0,NaN,2007.0
7532,3,900000,11.5,3046,3.0,1.0,1.0,705.0,NaN,NaN
7533,4,2285000,7.8,3124,NaN,NaN,NaN,NaN,NaN,NaN
7534,3,1185000,2.6,3121,2.0,2.0,1.0,135.0,NaN,NaN
7535,2,400000,5.9,3055,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
hr_train['Postcode'] = hr_train['Postcode'].astype(object)

In [46]:
hr_train['YearBuilt'] = hr_train['YearBuilt'].astype(object)

In [47]:
hr_train.select_dtypes(object)

,Suburb,Type,Method,SellerG,Postcode,YearBuilt,CouncilArea,data
0,Brunswick,h,S,Nelson,3056,1920.0,Moreland,train
1,Reservoir,h,S,Ray,3073,NaN,Darebin,train
2,Newport,h,S,RT,3015,NaN,Hobsons Bay,train
3,Brighton East,u,SP,Buxton,3187,NaN,NaN,train
4,Hawthorn East,h,VB,RT,3123,1925.0,Boroondara,train
...,...,...,...,...,...,...,...,...
7531,Footscray,u,PI,Burnham,3011,2007.0,Maribyrnong,train
7532,Oak Park,h,SP,Nelson,3046,NaN,Moreland,train
7533,Camberwell,h,PI,Jellis,3124,NaN,NaN,train
7534,Richmond,h,S,hockingstuart,3121,NaN,Yarra,train
7535,Brunswick West,u,VB,Nelson,3055,NaN,NaN,train

In [48]:
hr_train['YearBuilt'].mode()

0    1970.0
dtype: object

In [49]:
hr_all['YearBuilt'] = hr_all['YearBuilt'].fillna('1970')

In [50]:
hr_all.isnull().sum()

Suburb             0
Address            0
Rooms              0
Type               0
Price           1885
Method             0
SellerG            0
Distance           0
Postcode           0
Bedroom2        1978
Bathroom        1978
Car             1978
Landsize        1985
BuildingArea    5269
YearBuilt          0
CouncilArea     1985
data               0
dtype: int64

In [51]:
del hr_all['Address']

In [52]:
cat_cols = ['Type']

In [53]:
for col in cat_cols:
    k = hr_all[col].value_counts(dropna = False)
    cats = k.index[k>120][:-1]
    for cat in cats:
        name = col+'_'+cat
        hr_all[name] = (hr_all[col]==cat).astype(int)

In [54]:
hr_all.select_dtypes(exclude = 'object')

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Type_h,Type_u
0,3,1650000.0,5.2,3056,3.0,1.0,2.0,495.0,141.0,1,0
1,5,791000.0,11.2,3073,4.0,3.0,1.0,961.0,NaN,1,0
2,3,785000.0,8.4,3015,3.0,1.0,1.0,185.0,NaN,1,0
3,2,755000.0,10.7,3187,NaN,NaN,NaN,NaN,NaN,0,1
4,5,2500000.0,7.5,3123,5.0,3.0,3.0,757.0,240.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1880,3,NaN,14.5,3042,NaN,NaN,NaN,NaN,NaN,1,0
1881,3,NaN,14.5,3042,3.0,2.0,2.0,554.0,129.0,1,0
1882,3,NaN,9.8,3185,3.0,2.0,2.0,236.0,193.0,1,0
1883,2,NaN,9.8,3185,2.0,1.0,1.0,0.0,65.0,0,1
1884,3,NaN,3.7,3054,3.0,1.0,2.0,341.0,NaN,1,0

In [55]:
hr_all.columns

Index(['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Distance',
       'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea',
       'YearBuilt', 'CouncilArea', 'data', 'Type_h', 'Type_u'],
      dtype='object')

In [56]:
del hr_all['Type']

In [57]:
cat_col = ['Method']

In [58]:
for col in cat_col:
    k = hr_all[col].value_counts(dropna = False)
    cats = k.index[k>120][:-1]
    for cat in cats:
        name = col+'_'+cat
        hr_all[name] = (hr_all[col]==cat).astype(int)

In [59]:
cat_cols_1 = ['SellerG']

In [60]:
for col in cat_cols_1:
    k = hr_all[col].value_counts(dropna = False)
    cats = k.index[k>120][:-1]
    for cat in cats:
        name = col+'_'+cat
        hr_all[name] = (hr_all[col]==cat).astype(int)

In [61]:
cat_cols_2 = ['CouncilArea']

In [62]:
for col in cat_cols_2:
    k = hr_all[col].value_counts(dropna = False)
    cats = k.index[k>120][:-1]
    for cat in cats:
        name = col+'_'+cat
        hr_all[name] = (hr_all[col]==cat).astype(int)

TypeError: can only concatenate str (not "float") to str

In [63]:
hr_train['CouncilArea'].value_counts(dropna = False)

NaN              1564
Boroondara        635
Moreland          609
Moonee Valley     536
Darebin           517
Glen Eira         475
Stonnington       433
Maribyrnong       372
Yarra             368
Port Phillip      362
Banyule           282
Melbourne         266
Bayside           246
Hobsons Bay       234
Brimbank          197
Manningham        151
Whitehorse        113
Monash            112
Kingston           54
Hume               10
Name: CouncilArea, dtype: int64

In [64]:
hr_train['CouncilArea'].mode()

0    Boroondara
dtype: object

In [65]:
hr_all.drop(['SellerG','Method'],axis = 1,inplace = True)

In [66]:
hr_all['CouncilArea'] = hr_all['CouncilArea'].fillna('Boroondara')

In [67]:
hr_all['CouncilArea'].value_counts(dropna = False)

Boroondara       2788
Moreland          765
Moonee Valley     678
Darebin           648
Glen Eira         608
Stonnington       511
Maribyrnong       478
Yarra             455
Port Phillip      441
Banyule           359
Melbourne         324
Bayside           311
Hobsons Bay       286
Brimbank          238
Manningham        181
Whitehorse        139
Monash            132
Kingston           65
Hume               14
Name: CouncilArea, dtype: int64

In [68]:
del hr_all['CouncilArea']

In [69]:
hr_all.columns

Index(['Suburb', 'Rooms', 'Price', 'Distance', 'Postcode', 'Bedroom2',
       'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'data',
       'Type_h', 'Type_u', 'Method_S', 'Method_PI', 'Method_SP',
       'SellerG_Nelson', 'SellerG_Jellis', 'SellerG_hockingstuart',
       'SellerG_Barry', 'SellerG_Marshall', 'SellerG_Buxton', 'SellerG_Ray',
       'SellerG_Biggin', 'SellerG_Brad', 'SellerG_Woodards',
       'SellerG_Fletchers', 'SellerG_RT', 'SellerG_Sweeney', 'SellerG_Greg',
       'SellerG_Miles', 'SellerG_Jas'],
      dtype='object')

In [70]:
round(hr_train['Bedroom2'].mean())

3

In [71]:
hr_all['Bedroom2'] = hr_train['Bedroom2'].fillna(3)

In [72]:
round(hr_train['Bathroom'].mode())

0    1.0
dtype: float64

In [73]:
hr_all['Bathroom'] = hr_all['Bathroom'].fillna(1)

In [74]:
round(hr_train['Car'].mean())

2

In [75]:
hr_all['Car'] = hr_all['Car'].fillna(2)

In [76]:
hr_train['BuildingArea'].mean()

143.04718966035466

In [77]:
hr_train['BuildingArea'].value_counts()

120.0    53
100.0    44
130.0    40
85.0     39
115.0    38
         ..
364.0     1
792.0     1
321.0     1
502.0     1
0.0       1
Name: BuildingArea, Length: 386, dtype: int64

In [78]:
hr_all['BuildingArea'] = hr_all['BuildingArea'].fillna(143)

In [79]:
hr_train['Landsize'].mean()

452.44775619557936

In [80]:
hr_all['Landsize'] = hr_all['Landsize'].fillna(452)

In [81]:
hr_all.isnull().sum()

Suburb                      0
Rooms                       0
Price                    1885
Distance                    0
Postcode                    0
Bedroom2                    0
Bathroom                    0
Car                         0
Landsize                    0
BuildingArea                0
YearBuilt                   0
data                        0
Type_h                      0
Type_u                      0
Method_S                    0
Method_PI                   0
Method_SP                   0
SellerG_Nelson              0
SellerG_Jellis              0
SellerG_hockingstuart       0
SellerG_Barry               0
SellerG_Marshall            0
SellerG_Buxton              0
SellerG_Ray                 0
SellerG_Biggin              0
SellerG_Brad                0
SellerG_Woodards            0
SellerG_Fletchers           0
SellerG_RT                  0
SellerG_Sweeney             0
SellerG_Greg                0
SellerG_Miles               0
SellerG_Jas                 0
dtype: int64

In [82]:
hr_all.select_dtypes(object)

             Suburb YearBuilt   data
0         Brunswick    1920.0  train
1         Reservoir      1970  train
2           Newport      1970  train
3     Brighton East      1970  train
4     Hawthorn East    1925.0  train
...             ...       ...    ...
1880    Keilor Park      1970   test
1881    Keilor Park    1980.0   test
1882     Gardenvale    2004.0   test
1883     Gardenvale    1970.0   test
1884   Princes Hill      1970   test

[9421 rows x 3 columns]

In [83]:
hr_all['Postcode'].dtypes

dtype('int64')

In [84]:
hr_all['Postcode'] = hr_all['Postcode'].astype(object)

In [85]:
cat_cols_3 = ['Postcode','YearBuilt']

In [86]:
for col in cat_cols_3:
    k = hr_all[col].value_counts(dropna = False)
    cats = k.index[k>120][:-1]
    for cat in cats:
        name = col+'_'+str(cat)
        hr_all[name] = (hr_all[col]==cat).astype(int)

In [87]:
hr_all.drop(['Postcode','YearBuilt'],axis = 1,inplace = True)

In [88]:
hr_all.isnull().sum()

Suburb                 0
Rooms                  0
Price               1885
Distance               0
Bedroom2               0
                    ...
YearBuilt_1920.0       0
YearBuilt_2000.0       0
YearBuilt_1910.0       0
YearBuilt_1890.0       0
YearBuilt_1940.0       0
Length: 75, dtype: int64

In [89]:
del hr_all['Suburb']

In [90]:
hr_all.shape

(9421, 74)

In [91]:
hr_train = hr_all[hr_all['data'] == 'train']
hr_test = hr_all[hr_all['data'] == 'test']

In [92]:
hr_train.shape

(7536, 74)

In [93]:
hr_test.shape

(1885, 74)

In [94]:
del hr_train['data']

In [95]:
hr_test.drop(['data','Price'],axis = 1,inplace = True)

C:\Users\h8man\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [96]:
hr_test.shape

(1885, 72)

In [97]:
hr_test.sample(10)

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Type_h,Type_u,Method_S,...,YearBuilt_1970.0,YearBuilt_1960.0,YearBuilt_1950.0,YearBuilt_1900.0,YearBuilt_1930.0,YearBuilt_1920.0,YearBuilt_2000.0,YearBuilt_1910.0,YearBuilt_1890.0,YearBuilt_1940.0
115,3,10.5,3.0,1.0,2.0,649.0,143.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
592,2,7.7,1.0,1.0,2.0,0.0,85.0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
1599,2,6.5,3.0,1.0,2.0,452.0,143.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1469,1,3.3,4.0,1.0,2.0,0.0,143.0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1705,2,9.1,3.0,1.0,1.0,976.0,71.0,0,1,1,...,0,0,0,0,0,0,1,0,0,0
1448,2,3.3,3.0,1.0,2.0,452.0,143.0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
473,4,11.4,3.0,2.0,3.0,932.0,270.0,1,0,1,...,1,0,0,0,0,0,0,0,0,0
343,2,5.2,2.0,1.0,1.0,319.0,143.0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
159,4,9.2,4.0,2.0,2.0,647.0,185.0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
550,2,1.6,1.0,1.0,1.0,0.0,129.0,0,1,1,...,0,0,0,1,0,0,0,0,0,0

In [98]:
hr_train.sample(10)

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Type_h,Type_u,...,YearBuilt_1970.0,YearBuilt_1960.0,YearBuilt_1950.0,YearBuilt_1900.0,YearBuilt_1930.0,YearBuilt_1920.0,YearBuilt_2000.0,YearBuilt_1910.0,YearBuilt_1890.0,YearBuilt_1940.0
4573,4,2145000.0,11.2,3.0,2.0,1.0,550.0,197.0,1,0,...,0,0,0,0,0,0,0,1,0,0
1654,4,1500000.0,11.8,4.0,2.0,2.0,862.0,153.0,1,0,...,1,0,0,0,0,0,0,0,0,0
5182,4,1210000.0,13.8,3.0,1.0,2.0,452.0,143.0,1,0,...,0,0,0,0,0,0,0,0,0,0
528,2,455000.0,11.4,2.0,1.0,1.0,0.0,73.0,0,1,...,1,0,0,0,0,0,0,0,0,0
343,2,390000.0,6.4,2.0,1.0,1.0,0.0,60.0,0,1,...,0,1,0,0,0,0,0,0,0,0
5694,2,775000.0,4.6,3.0,1.0,2.0,452.0,143.0,0,1,...,0,0,0,0,0,0,0,0,0,0
2869,4,1400000.0,9.2,4.0,2.0,1.0,283.0,143.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5994,5,4350000.0,9.7,3.0,1.0,2.0,452.0,143.0,1,0,...,0,0,0,0,0,0,0,0,0,0
2718,3,1820000.0,2.6,3.0,1.0,2.0,452.0,143.0,1,0,...,0,0,0,0,0,0,0,0,0,0
3763,2,782000.0,7.0,2.0,1.0,1.0,1555.0,92.0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [99]:
from sklearn.model_selection import train_test_split
t1,t2 = train_test_split(hr_train,test_size = 0.2,random_state = 123)

In [100]:
t1.shape

(6028, 73)

In [101]:
t2.shape

(1508, 73)

In [155]:
x_train = t1.drop(['Price'],axis=1)
y_train = t1['Price']
x_test = t2.drop(['Price'],axis = 1)
y_test = t2['Price']

In [103]:
y_train.sample(5)

6910     621000.0
2752    1955000.0
5895     380000.0
233      420000.0
6932    2000000.0
Name: Price, dtype: float64

In [104]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [105]:
lr.intercept_

362416.9386699705

In [106]:
predicted_values = lr.predict(x_test)

In [107]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(predicted_values,y_test)

260951.84925802491

# now will make prediction on real data set

In [164]:
x_train = hr_train.drop(['Price'],axis = 1)
y_train = hr_train['Price']

In [109]:
lr.fit(x_train,y_train)

LinearRegression()

In [110]:
final_predicted_values = lr.predict(hr_test)

In [111]:
final_predicted_values

array([ 549159.57031578,  868292.05513166,  601373.21713394, ...,
       1261050.83376991,  264556.25667715, 1454560.31299627])

In [112]:
Project_price = pd.DataFrame({'Predicted_price' : final_predicted_values})

In [113]:
Project_price

      Predicted_price
0        5.491596e+05
1        8.682921e+05
2        6.013732e+05
3        1.797009e+06
4        1.528227e+06
...               ...
1880     7.444397e+05
1881     8.982182e+05
1882     1.261051e+06
1883     2.645563e+05
1884     1.454560e+06

[1885 rows x 1 columns]

In [117]:
#now using decision tree

In [122]:
from sklearn.tree import DecisionTreeRegressor

In [119]:
from sklearn.model_selection import RandomizedSearchCV

In [123]:
clf = DecisionTreeRegressor()

In [124]:
params = {'max_depth' : [None,5,10,15,20,30,50,70],
          'min_samples_leaf' : [1,2,5,10,15,20],
          'min_samples_split' : [2,5,10,15,20]}

In [126]:
random_search = RandomizedSearchCV(clf, cv = 10, param_distributions = params, scoring = 'neg_mean_absolute_error', n_iter = 10, n_jobs = -1, verbose = False)

In [140]:
random_search.fit(x_train, y_train)

RandomizedSearchCV(cv=10, estimator=DecisionTreeRegressor(), n_jobs=-1,
                   param_distributions={'max_depth': [None, 5, 10, 15, 20, 30,
                                                      50, 70],
                                        'min_samples_leaf': [1, 2, 5, 10, 15,
                                                             20],
                                        'min_samples_split': [2, 5, 10, 15,
                                                              20]},
                   scoring='neg_mean_absolute_error', verbose=False)

In [141]:
random_search.best_estimator_

DecisionTreeRegressor(max_depth=50, min_samples_leaf=5, min_samples_split=20)

In [142]:
dtree = random_search.best_estimator_

In [143]:
dtree.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=50, min_samples_leaf=5, min_samples_split=20)

In [144]:
predicted = dtree.predict(x_test)

In [145]:
mean_absolute_error(predicted, y_test)

243186.86523420853

In [146]:
x_train = hr_train.drop(['Price'],axis = 1)
y_train = hr_train['Price']

In [147]:
dtree.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=50, min_samples_leaf=5, min_samples_split=20)

In [148]:
final_prediction = dtree.predict(hr_test)

In [149]:
final_prediction

array([ 396533.33333333,  805985.29411765,  475833.33333333, ...,
       1001961.53846154,  415461.53846154, 1451366.66666667])

In [150]:
# random forest implementation

In [151]:
from sklearn.ensemble import RandomForestRegressor

In [152]:
model = RandomForestRegressor()

In [153]:
params = {'n_estimators' : [100,200,300,500,700,1000],
         'max_features' : [5,10,15,20,30,35],
         'bootstrap' : [True, False],
         'max_depth' : [None, 5, 10,20,30,50,70],
         'min_samples_leaf' : [1,2,5,10,15,20],
         'min_samples_split' : [2,5,10,15,20]}

In [154]:
random_search  = RandomizedSearchCV(model, param_distributions = params, cv = 10, scoring = "neg_mean_absolute_error",n_iter = 10, n_jobs = -1, verbose = False)

In [157]:
random_search.fit(x_train, y_train)

RandomizedSearchCV(cv=10, estimator=RandomForestRegressor(), n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [None, 5, 10, 20, 30, 50,
                                                      70],
                                        'max_features': [5, 10, 15, 20, 30, 35],
                                        'min_samples_leaf': [1, 2, 5, 10, 15,
                                                             20],
                                        'min_samples_split': [2, 5, 10, 15, 20],
                                        'n_estimators': [100, 200, 300, 500,
                                                         700, 1000]},
                   scoring='neg_mean_absolute_error', verbose=False)

In [159]:
random_search.best_estimator_

RandomForestRegressor(bootstrap=False, max_features=15, min_samples_split=10,
                      n_estimators=200)

In [160]:
rfree = random_search.best_estimator_

In [161]:
rfree.fit(x_train, y_train)

RandomForestRegressor(bootstrap=False, max_features=15, min_samples_split=10,
                      n_estimators=200)

In [162]:
predicted = rfree.predict(x_test)

In [163]:
mean_absolute_error(predicted, y_test)

203199.4282914035

In [165]:
rfree.fit(x_train, y_train)

RandomForestRegressor(bootstrap=False, max_features=15, min_samples_split=10,
                      n_estimators=200)

In [166]:
final_prediction = rfree.predict(hr_test)

In [167]:
final_prediction

array([ 508408.03472222, 1028150.05357143,  415238.11651786, ...,
       1036331.87698413,  423302.28914683, 1644573.45992063])